*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
#mainworkheader{
    border: 1px solid black;
    padding: 1%;
    text-align: center;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    font-family: 'Abril Fatface', cursive; 
    color: white;
    border-radius: 10px;
    background-color: rgb(68, 148, 246);    
   /* background-color: black; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#mainworkbody{
    background-image: url("https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}
#parent{
    display: flex;
    flex-direction: row;
}
#work{
    width: 500px;
    height: auto;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: rgb(68, 148, 246); 
    color: white;   
    border-radius:10px ;
    margin: 10px;
}
button{
    font-size: 20px;
    padding: 10px;
    color: rgb(68, 148, 246);
    background-color: white;
    margin: 30px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
form > h1{
    font-size: 40px;
    font-weight: bolder;
    margin: 20px;
    /* font-family: 'Noto Serif', serif; */
    font-family: 'Abril Fatface', cursive;
}
h2{
    font-size: 30px;
    font-weight: bolder;
    margin: 20px;
    font-family: 'Noto Serif', serif;
}
#button{
	position:absolute;
	bottom:30px;
	right:30px;
	background-color:rgb(68, 148, 246);
	color:white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}